[tool.bandit]
exclude_dirs = ["tests"]

[tool.flake8]
max-line-length = 100

[tool.poetry]
name = "dronefly-core"
version = "0.3.5"
description = "Core dronefly components"
authors = ["Ben Armstrong <synrg@debian.org>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
packages = [
	{ include = "dronefly/core" },
]

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
pyinaturalist = ">=0.18,<0.20"
dateparser = "^1.1.1"
inflect = "^5.3.0"
rich = ">=10.9,<14"
attrs = ">=21.2"
html2markdown = "^0.1.7"

[tool.poetry.dev-dependencies]
black = "^22.12.0"
pytest = "^7.2.1"
pytest-mock = "^3.10.0"
pylint = "^2.10.2"
pytest-asyncio = "^0.20.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
